*{
    box-sizing: content-box;
}

.generator{
    display: block;
    border: 1px solid;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.generators-container{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
}

#particlesAmmount{
    margin: 40px;
    font-size: 1em;
    text-align: center;
}

#particlesPerSecond{
    margin: 40px;
    font-size: 1em;
    text-align: center;
}