*{
    box-sizing: content-box;
}

.particles{
    font-size: 1em;
    text-align: center;
}

.tab{
    text-align: center;
}

.generator{
    display: block;
    border: 1px solid;
    color: black;
    border-color: red;
    background-color: whitesmoke;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.generators-container{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}

.implodeButton{
    display: block;
    border: 1px solid;
    color: black;
    border-color: red;
    background-color: whitesmoke;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

#implodedRealityTab{
    border-color: gray;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.generators-shop-container{
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
}

.unlockGenerators{
    display: block;
    border: 1px solid;
    color: black;
    border-color: red;
    background-color: whitesmoke;
    text-align: center;
    width: 200px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}